* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #f2f2f2;
  font-family: arial;
  max-width: 400px;
  margin: 0 auto;
}
header {
  padding: 12px;
  background: #288e81;
  color: white;
  overflow: hidden;
  font-size: 1.3em;
}
header h3 {
  display: inline-block;
  margin: 0;
}
header .levels {
  text-align: center;
}
header .lives {
  font-size: 1em;
  float: right;
  margin-top: 3px;
}
header .lives .warning {
  color: #ff822c;
  font-weight: bold;
}
div.wrap {
  padding: 5px;
}
div.images {
  text-align: center;
  margin-top: 40px;
}
div.images .top, div.images .bottom {
  display: table;
  margin: auto;
}
div.images img {
  width: 100px;
}
div.images img.disabled {
  opacity: 0.2;
}
div.answer {
  background: white;
  padding: 7px;
  margin: 10px auto;
  max-width: 400px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  text-align: center;
}
div.answer button,
div.guesses button {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 4px;
  outline: none;
  font-size: 1.2em;
  text-transform: uppercase;
  color: white;
  margin: 4px 1px; 
}
button.empty {
  background: #dedede;
  box-shadow: 2px 2px 30px #adadad inset;
  color: transparent !important;
}
button.filled {
  background: #288e81;
}

div.guesses {
  margin: 50px auto;
  display: block;
  max-width: 400px;
  text-align: center;
}
div.guesses button.filled {
  background: #288e81;
}


/* Store page rules */
.modal.store {
  margin-bottom: 50px;
}
.group {
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.16);
  display: flex;
  margin-bottom: 10px;
  padding: 5px;
}
.group .item-box {
  width: 30%;
  margin: 5px;
  padding: 10px;
  background: #f2f2f2;
  text-align: center;
}
.group .item-box label {
  display: block;
  font-size: 1em;
  font-weight: bold;
  color: #288e81;
}
.group .item-box button {
  padding: 5px;
}


.modal-store {
  margin: auto;
  max-width: 400px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f2f2f2;
}
.modal-store.closed {
  display: none;
}
footer {
  background: #f2f2f2;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  width: 100%;
  display: block;
}
footer button.close {
  margin: auto;
  display: block;
  bottom: 10px;
  width: 100%;
  max-width: 400px;
  padding: 8px 25px;
  border-radius: 5px;
  border: 2px solid white;
  background: #288e81;
  color: white;
  outline: none;
  font-size: 1.2em;
}
.modal-store button.close:active {
  border-color: #f3d47f;
}

@media (max-width: 370px) {
  .group .item-box label {
    font-size: 0.8em;
  }
}

.lock-layout {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.81);
}

.lock-layout .body {
  display: flex;
  align-items: center;
  margin: auto;
  height: 100vh;
}

.lock-layout .message {
  width: 300px;
  margin: 60px auto;
  padding: 25px 20px 35px;
  border-radius: 6px;
  box-shadow: 0px 0px 6px 0px #000000b3;
  color: white;
  text-align: center;
}

.lock-layout .message.level-fail {
  background: #010c0b;
}

.lock-layout .message.level-success {
  background: #2f9033;
}

.lock-layout .message.end-game {
  background: #ff822c;
}

.lock-layout .message h3 {
  padding-bottom: 6px;
  margin-bottom: 14px;
  border-bottom: 1px solid;
  color: white;
}

.lock-layout .message.level-fail h3 {
  border-bottom: 1px solid #345249;
  color: #fd1414;
}

.lock-layout .message.level-success h3 {
  color: white;
  border-bottom-color: #62f368;
}

.lock-layout .message.end-game h3 {
  color: white;
  text-shadow: 2px 2px 2px #7e00ff;
  border-bottom-color: #c3499a;
}

.lock-layout .message span {
  font-size: .9em;
}